
@{
    ViewBag.Title = "Tabular data from db using React.js";
}

<h2>Display Tabular Data from DB using React.js</h2>

@* HTML *@
<div id ="employeeData" class ="container">
    
</div>
@* Bootstrap CSS *@
<script src="~/Scripts/bootstrap.min.js"></script>
@* Jquery *@
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
@* React Library *@
<script src="~/Scripts/react/react.min.js"></script>
<script src="~/Scripts/react/react-dom.min.js"></script>
<script src="@Url.Content("~/Scripts/jsx/EmployeeGridRow.jsx")"></script>
